:reducers:
  - :reducer: TinyEtl::OaiExtractor
    :args:
      :base_uri: 'https://server16022.contentdm.oclc.org/oai.php'
  - :reducer: TinyEtl::ContentdmExtractor
    :args:
      :base_uri: 'https://server16022.contentdm.oclc.org/dmwebservices/index.php'
  - :reducer: TinyEtl::JsonTransformer
:loaders:
  - :loader: TinyEtl::FileLoader
    :args:
      :dir: '/tmp/data'
