---
http_interactions:
- request:
    method: get
    uri: https://server16022.contentdm.oclc.org/oai.php?resumptionToken=swede:96:oclc-cdm-allsets:0000-00-00:9999-99-99:oai_dc&verb=ListRecords
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2016-02-19T00:35:39Z</responseDate><request verb="ListRecords" resumptionToken="swede:96:oclc-cdm-allsets:0000-00-00:9999-99-99:oai_dc" metadataPrefix="oai_dc">http://cdm16022.contentdm.oclc.org/oai/oai.php</request><ListRecords><record><header><identifier>oai:cdm16022.contentdm.oclc.org:swede/96</identifier><datestamp>2014-02-04</datestamp><setSpec>swede</setSpec></header>
        <metadata>
        <oai_dc:dc xmlns:oai_dc="http://www.openarchives.org/OAI/2.0/oai_dc/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd">
        <dc:title>Swedish royalty at Minnehaha Park, Minneapolis, Minnesota</dc:title>
        <dc:description>Crown Prince Gustav Adolph and Crown Princess Louise of Sweden greet a large crowd at Minnehaha Park.</dc:description>
        <dc:date>1926-06-29</dc:date>
        <dc:relation>Immigration and Ethnicity;</dc:relation>
        <dc:type>Still Image</dc:type>
        <dc:format>Panoramas</dc:format>
        <dc:subject>Kings and rulers</dc:subject>
        <dc:subject>Turnblad, Swan; Swedish royalty;</dc:subject>
        <dc:coverage>Minneapolis</dc:coverage>
        <dc:coverage>Minnehaha Park</dc:coverage>
        <dc:coverage>Hennepin</dc:coverage>
        <dc:coverage>Minnesota</dc:coverage>
        <dc:coverage>United States</dc:coverage>
        <dc:publisher>American Swedish Institute</dc:publisher>
        <dc:rights>This image may not be reproduced without the written permission of the American Swedish Institute</dc:rights>
        <dc:identifier>82.17.1</dc:identifier>
        <dc:identifier>umn17027</dc:identifier>
        <dc:identifier>777687848</dc:identifier>
        <dc:identifier>http://cdm16022.contentdm.oclc.org/cdm/ref/collection/swede/id/96</dc:identifier></oai_dc:dc>
        </metadata>
        </record><record><header><identifier>oai:cdm16022.contentdm.oclc.org:swede/97</identifier><datestamp>2014-02-04</datestamp><setSpec>swede</setSpec></header>
        <metadata>
        <oai_dc:dc xmlns:oai_dc="http://www.openarchives.org/OAI/2.0/oai_dc/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd">
        <dc:title>Independent Order of Svithiod cornerstone laying, Minneapolis, Minnesota</dc:title>
        <dc:creator>Larson, Herman</dc:creator>
        <dc:contributor>Herman Larson Studio (Minneapolis, Minnesota)</dc:contributor>
        <dc:description>A large crowd was present at the laying of the cornerstone in 1927.</dc:description>
        <dc:date>1927</dc:date>
        <dc:relation>Immigration and Ethnicity;</dc:relation>
        <dc:type>Still Image</dc:type>
        <dc:format>Panoramas</dc:format>
        <dc:subject>Festivals; Crowds</dc:subject>
        <dc:subject>Independent Order of Svithiod; Fraternal organizations</dc:subject>
        <dc:cov[...]
